Olá Matheus

Meu nome é Ramon e te ajudarei neste projeto. Fico feliz em rever seu projeto hoje.

Ao ao longo do texto farei algumas observações sobre melhorias no código e também farei comentários sobre suas percepções sobre o assunto. Estarei aberta a feedbacks e discussões sobre o tema.

Você encontrará meus comentários abaixo - **por favor, não os mova, modifique ou exclua**.

Você pode encontrar meus comentários em caixas verdes, amarelas ou vermelhas como esta:

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Sucesso. Tudo foi feito corretamente.
</div>

<div class="alert alert-block alert-warning">
<b>Comentário do revisor: </b> <a class="tocSkip"></a>

Observações. Algumas recomendações.
</div>

<div class="alert alert-block alert-danger">

<b>Comentário do revisor: </b> <a class="tocSkip"></a>
    
Precisa de correções. O bloqueio requer algumas correções. O trabalho não pode ser aceito com os comentários em vermelho.
</div>

Você pode me responder usando isso:

<div class="alert alert-block alert-info">
<b>Resposta do Aluno.</b> <a class="tocSkip"></a>
</div>

O serviço de vendas de carros usados Rusty Bargain está desenvolvendo um aplicativo para atrair novos clientes. Nesse aplicativo, você pode descobrir rapidamente o valor de mercado do seu carro. Você tem acesso a dados históricos: especificações técnicas, versões de acabamento e preços. Você precisa construir o modelo para determinar o valor. 

Rusty Bargain está interessado em:

- a qualidade da predição;
- a velocidade da predição;
- o tempo necessário para o treinamento

# Preparação de Dados

## Baixar e visualizar dados

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [2]:
df = pd.read_csv("/datasets/car_data.csv")

In [3]:
df.head()

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Mileage,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
0,24/03/2016 11:52,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,24/03/2016 00:00,0,70435,07/04/2016 03:16
1,24/03/2016 10:58,18300,coupe,2011,manual,190,NaN,125000,5,gasoline,audi,yes,24/03/2016 00:00,0,66954,07/04/2016 01:46
2,14/03/2016 12:52,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,NaN,14/03/2016 00:00,0,90480,05/04/2016 12:47
3,17/03/2016 16:54,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,17/03/2016 00:00,0,91074,17/03/2016 17:40
4,31/03/2016 17:25,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,31/03/2016 00:00,0,60437,06/04/2016 10:17

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [4]:
df.describe()

,Price,RegistrationYear,Power,Mileage,RegistrationMonth,NumberOfPictures,PostalCode
count,354369.000000,354369.000000,354369.000000,354369.000000,354369.000000,354369.0,354369.000000
mean,4416.656776,2004.234448,110.094337,128211.172535,5.714645,0.0,50508.689087
std,4514.158514,90.227958,189.850405,37905.341530,3.726421,0.0,25783.096248
min,0.000000,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1050.000000,1999.000000,69.000000,125000.000000,3.000000,0.0,30165.000000
50%,2700.000000,2003.000000,105.000000,150000.000000,6.000000,0.0,49413.000000
75%,6400.000000,2008.000000,143.000000,150000.000000,9.000000,0.0,71083.000000
max,20000.000000,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.000000

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        354369 non-null  object
 1   Price              354369 non-null  int64
 2   VehicleType        316879 non-null  object
 3   RegistrationYear   354369 non-null  int64
 4   Gearbox            334536 non-null  object
 5   Power              354369 non-null  int64
 6   Model              334664 non-null  object
 7   Mileage            354369 non-null  int64
 8   RegistrationMonth  354369 non-null  int64
 9   FuelType           321474 non-null  object
 10  Brand              354369 non-null  object
 11  NotRepaired        283215 non-null  object
 12  DateCreated        354369 non-null  object
 13  NumberOfPictures   354369 non-null  int64
 14  PostalCode         354369 non-null  int64
 15  LastSeen           354369 non-null  object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [6]:
# function to print the total percentage of the missing values.
def missing_percentage(df):
    """This function takes a DataFrame(df) as input and returns two columns, total missing values and total missing values percentage"""
    total = df.isnull().sum().sort_values(ascending = False)
    percent = round(df.isnull().sum().sort_values(ascending = False)/len(df)*100,2)
    return pd.concat([total, percent], axis=1, keys=['Total','Percent'])

In [7]:
missing_percentage(df)

                   Total  Percent
NotRepaired        71154    20.08
VehicleType        37490    10.58
FuelType           32895     9.28
Gearbox            19833     5.60
Model              19705     5.56
DateCrawled            0     0.00
Price                  0     0.00
RegistrationYear       0     0.00
Power                  0     0.00
Mileage                0     0.00
RegistrationMonth      0     0.00
Brand                  0     0.00
DateCreated            0     0.00
NumberOfPictures       0     0.00
PostalCode             0     0.00
LastSeen               0     0.00

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Excelente
</div>

In [8]:
def percent_value_counts(df, feature):
    """This function takes in a dataframe and a column and finds the percentage of the value_counts"""
    percent = pd.DataFrame(round(df.loc[:,feature].value_counts(dropna=False, normalize=True)*100,2))
    ## creating a df with th
    total = pd.DataFrame(df.loc[:,feature].value_counts(dropna=False))
    ## concating percent and total dataframe

    total.columns = ["Total"]
    percent.columns = ['Percent']
    return pd.concat([total, percent], axis = 1)

### NotRepaired

In [9]:
#https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html
## Crosstab ver biblioteca

In [10]:
percent_value_counts(df, "NotRepaired")

      Total  Percent
no   247161    69.75
NaN   71154    20.08
yes   36054    10.17

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [11]:
df["NotRepaired"].fillna("no", inplace=True)

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [12]:
df['Repaired'] = df['NotRepaired'].apply(lambda x: 0 if x == 'no' else 1)

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [13]:
df.drop("NotRepaired", axis=1, inplace=True)

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [14]:
percent_value_counts(df, "Repaired")

    Total  Percent
0  318315    89.83
1   36054    10.17

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

### VehicleType

In [15]:
percent_value_counts(df, "VehicleType")

             Total  Percent
sedan        91457    25.81
small        79831    22.53
wagon        65166    18.39
NaN          37490    10.58
bus          28775     8.12
convertible  20203     5.70
coupe        16163     4.56
suv          11996     3.39
other         3288     0.93

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [16]:
df[df["VehicleType"].isnull()].sample(5)

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Mileage,RegistrationMonth,FuelType,Brand,DateCreated,NumberOfPictures,PostalCode,LastSeen,Repaired
261872,01/04/2016 10:57,2200,NaN,2016,auto,150,golf,150000,7,petrol,volkswagen,01/04/2016 00:00,0,73033,07/04/2016 08:16,0
177954,19/03/2016 09:58,3000,NaN,2005,manual,101,fiesta,150000,0,NaN,ford,19/03/2016 00:00,0,94034,28/03/2016 09:18,1
159329,22/03/2016 12:52,1550,NaN,2016,manual,0,sprinter,5000,5,gasoline,mercedes_benz,22/03/2016 00:00,0,35066,29/03/2016 16:45,0
281955,28/03/2016 19:56,0,NaN,2000,NaN,125,NaN,5000,0,NaN,audi,28/03/2016 00:00,0,21726,30/03/2016 11:47,0
282231,14/03/2016 18:46,150,NaN,2016,manual,75,clio,150000,0,petrol,renault,14/03/2016 00:00,0,89257,22/03/2016 14:16,1

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [17]:
df[df["Model"] == 'golf']["VehicleType"].value_counts()

sedan          14744
small           3911
wagon           3181
convertible     1962
bus              760
coupe            429
other            185
suv               25
Name: VehicleType, dtype: int64

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [18]:
# Não está funcionando bem essa função
# Função que retorna o tipo de veiculo pelo valor que mais aparece filtrando pelo modelo.
def most_frequent_vehicle_type(row):
    model = row["Model"]
    try:
        return df[df["Model"] == model]["VehicleType"].value_counts().index[0]
    except:
        return None

In [19]:
#df["VehicleType"] = df.apply(most_frequent_vehicle_type, axis=1)

### FuelType

In [20]:
# Qual a dif entre petrol e gasoline?

In [21]:
percent_value_counts(df, "FuelType")

           Total  Percent
petrol    216352    61.05
gasoline   98720    27.86
NaN        32895     9.28
lpg         5310     1.50
cng          565     0.16
hybrid       233     0.07
other        204     0.06
electric      90     0.03

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [22]:
df["FuelType"].fillna("petrol", inplace=True)

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto. É importante justificar por que substitiu com petrol (vi que é o mais frequente)
    
</div>

In [23]:
df.replace({"gasoline": "petrol"}, inplace=True)

<div class="alert alert-block alert-warning">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Eu não sei avaliar se petrol é igual a gasoline. 
</div>

In [24]:
df['FuelType'] = df['FuelType'].apply(lambda x: 'others' if x != 'petrol' else 'petrol')

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [25]:
percent_value_counts(df, "FuelType")

         Total  Percent
petrol  347967    98.19
others    6402     1.81

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>
Correto
</div>

In [26]:
df['FuelType_is_petrol'] = df['FuelType'].apply(lambda x: 1 if x == 'petrol' else 0)

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [27]:
df = df.drop("FuelType", axis=1)

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

### Gearbox

In [28]:
# Preenchendo valores NaN com 'manual' e transformando em uma coluna categórica numérica.

In [29]:
percent_value_counts(df, "Gearbox")

         Total  Percent
manual  268251    75.70
auto     66285    18.71
NaN      19833     5.60

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [30]:
df["Gearbox"].fillna("manual", inplace=True)

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [31]:
df['gearbox_is_manual'] = df['Gearbox'].apply(lambda x: 1 if x == 'manual' else 0)

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [32]:
df = df.drop("Gearbox", axis=1)

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [33]:
percent_value_counts(df, "gearbox_is_manual")

    Total  Percent
1  288084    81.29
0   66285    18.71

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

### Model

In [34]:
percent_value_counts(df, "Model")

                    Total  Percent
golf                29232     8.25
other               24421     6.89
3er                 19761     5.58
NaN                 19705     5.56
polo                13066     3.69
...                   ...      ...
serie_2                 8     0.00
rangerover              4     0.00
serie_3                 4     0.00
serie_1                 2     0.00
range_rover_evoque      2     0.00

[251 rows x 2 columns]

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [35]:
df = df.dropna()

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [36]:
df.head()

,DateCrawled,Price,VehicleType,RegistrationYear,Power,Model,Mileage,RegistrationMonth,Brand,DateCreated,NumberOfPictures,PostalCode,LastSeen,Repaired,FuelType_is_petrol,gearbox_is_manual
2,14/03/2016 12:52,9800,suv,2004,163,grand,125000,8,jeep,14/03/2016 00:00,0,90480,05/04/2016 12:47,0,1,0
3,17/03/2016 16:54,1500,small,2001,75,golf,150000,6,volkswagen,17/03/2016 00:00,0,91074,17/03/2016 17:40,0,1,1
4,31/03/2016 17:25,3600,small,2008,69,fabia,90000,7,skoda,31/03/2016 00:00,0,60437,06/04/2016 10:17,0,1,1
5,04/04/2016 17:36,650,sedan,1995,102,3er,150000,10,bmw,04/04/2016 00:00,0,33775,06/04/2016 19:17,1,1,1
6,01/04/2016 20:48,2200,convertible,2004,109,2_reihe,150000,8,peugeot,01/04/2016 00:00,0,67112,05/04/2016 18:18,0,1,1

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

## Treinamento do modelo

In [37]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
import xgboost as xgb
import catboost as cb

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [38]:
# separar as variáveis dependentes e independentes
X = df.drop(['Price', 'DateCrawled', 'DateCreated', 'NumberOfPictures','RegistrationMonth', 'PostalCode', 'LastSeen'], axis=1)
y = df['Price']

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [39]:
# divisão de treinamento e teste
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=12345)

<div class="alert alert-block alert-warning">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Não ficou claro por que você usou train_test_split na célula acima, sendo que usou novamente na célula abaixo
</div>

In [40]:
# Dummies
df_dummie = df.drop(['DateCrawled', 'DateCreated', 'NumberOfPictures','RegistrationMonth', 'PostalCode', 'LastSeen'], axis=1)
df_dummie = pd.get_dummies(df_dummie, columns=['VehicleType',"Model", 'Brand'], drop_first=False)
X_dummie = df_dummie.drop('Price', axis=1)
y_dummie = df_dummie['Price']                    
                    
X_train_dummie, X_test_dummie, y_train_dummie, y_test_dummie = train_test_split(X_dummie, y_dummie, test_size=0.3, random_state=12345)

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [41]:
# Modelo de Regressão Linear
start = time.time()
regressor = LinearRegression()
regressor.fit(X_train_dummie, y_train_dummie)
end_linear = time.time() - start
y_pred = regressor.predict(X_test_dummie)

In [42]:
linear_r2 = mean_squared_error(y_test_dummie, y_pred)**0.5
print("O REQMdo modelo de regressão linear no conjunto de validação:", linear_r2)

O REQMdo modelo de regressão linear no conjunto de validação: 2775.5532345003185

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [43]:
# Modelo de Floresta Aleatória
start = time.time()
regr = RandomForestRegressor(random_state=0)
regr.fit(X_train_dummie, y_train_dummie)
end_randomforest = time.time() - start
y_pred = regr.predict(X_test_dummie)

In [44]:
random_forest_r2 = mean_squared_error(y_test_dummie, y_pred)**0.5
print("O REQMdo modelo de regressão linear no conjunto de validação:", random_forest_r2)

O REQMdo modelo de regressão linear no conjunto de validação: 1663.686831904653

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [45]:
# Modelo de Árvore de Decisão
start = time.time()
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(X_train_dummie, y_train_dummie)
end_decision_tree = time.time() - start
y_pred = regressor.predict(X_test_dummie)

In [46]:
decision_tree_r2 = mean_squared_error(y_test_dummie, y_pred)**0.5
print("O REQMdo modelo de regressão linear no conjunto de validação:", decision_tree_r2)

O REQMdo modelo de regressão linear no conjunto de validação: 1942.6833684403025

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [47]:
# Modelo LightGBM
start = time.time()
lgb_model = lgb.LGBMRegressor(objective='regression', boosting_type='gbdt', learning_rate=0.05,
                              n_estimators=100, max_depth=5, random_state=42)
lgb_model.fit(X_train_dummie, y_train_dummie)
end_lgb = time.time() - start
y_pred = lgb_model.predict(X_test_dummie)

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [48]:
lgbm_r2 = mean_squared_error(y_test_dummie, y_pred)**0.5
print("O REQMdo modelo de regressão linear no conjunto de validação:", lgbm_r2)

O REQMdo modelo de regressão linear no conjunto de validação: 1883.9714314020564

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [49]:
# Modelo com hiperparâmetros ajustado
from sklearn.model_selection import GridSearchCV
start = time.time()
lgb_model_boosted = lgb.LGBMRegressor()
param_grid = {'learning_rate': [0.01, 0.05, 0.1],
              'max_depth': [3, 5, 7],
              'n_estimators': [100, 150, 200]}

#grid_search = GridSearchCV(lgb_model, param_grid, cv=2, scoring='neg_mean_squared_error')
grid_search = GridSearchCV(lgb_model, param_grid, cv=2, scoring='neg_mean_squared_error')
grid_search.fit(X_train_dummie, y_train_dummie)
end_lgb_boosted = time.time() - start
print("Best parameters found: ", grid_search.best_params_)
print("Lowest RMSE found: ", np.sqrt(np.abs(grid_search.best_score_)))

Best parameters found:  {'learning_rate': 0.1, 'max_depth': 7, 'n_estimators': 200}
Lowest RMSE found:  1751.5991407845377

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto. Estava demorando muito com cv=5, então reduzi para cv=2
</div>

In [50]:
y_pred = grid_search.predict(X_test_dummie)
end_lgb_boosted_r2 = mean_squared_error(y_test_dummie, y_pred)**0.5
end_lgb_boosted_r2

1724.278957114037

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

<s><div class="alert alert-block alert-danger">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Você não fez ajuste de hiperparâmetros conforme solicitado
</div>

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [51]:
# # Requer OHE
# # Modelo XGB
# start = time.time()
# xgb_model = xgb.XGBRegressor(objective='reg:squarederror', booster='gbtree', learning_rate=0.05,
#                              n_estimators=100, max_depth=5, random_state=42)
# xgb_model.fit(X_train_dummie, y_train_dummie)
# end_xgb = time.time()
# y_pred = end_xgb.predict(X_test_dummie)

In [52]:
# xgb_r2 = mean_squared_error(y_test_dummie, y_pred)**0.5
# print("O REQMdo modelo de regressão linear no conjunto de validação:", result)

In [53]:
X

,VehicleType,RegistrationYear,Power,Model,Mileage,Brand,Repaired,FuelType_is_petrol,gearbox_is_manual
2,suv,2004,163,grand,125000,jeep,0,1,0
3,small,2001,75,golf,150000,volkswagen,0,1,1
4,small,2008,69,fabia,90000,skoda,0,1,1
5,sedan,1995,102,3er,150000,bmw,1,1,1
6,convertible,2004,109,2_reihe,150000,peugeot,0,1,1
...,...,...,...,...,...,...,...,...,...
354362,sedan,2004,225,leon,150000,seat,1,1,1
354363,bus,2000,0,zafira,150000,opel,0,1,1
354366,convertible,2000,101,fortwo,125000,smart,0,1,0
354367,bus,1996,102,transporter,150000,volkswagen,0,1,1
354368,wagon,2002,100,golf,150000,volkswagen,0,1,1

In [54]:
cat_features_indices = [0, 3, 5]

In [55]:
# Modelo de CatBoost
start = time.time()
cb_model = cb.CatBoostRegressor(iterations=100, depth=5, learning_rate=0.05,
                                loss_function='RMSE', random_seed=42, verbose=False)
cb_model.fit(X_train, y_train, cat_features=cat_features_indices)
y_pred = cb_model.predict(X_test)

end_catboost = time.time() - start

In [56]:
catboost_r2 = mean_squared_error(y_test_dummie, y_pred)**0.5
print("O REQMdo modelo de regressão linear no conjunto de validação:", catboost_r2)

O REQMdo modelo de regressão linear no conjunto de validação: 1978.0275478562917

<s><div class="alert alert-block alert-danger">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Para catboost, o ajuste de hiperparâmetros é opcional. Porém, você está usando Catboost com variáveis dummy, o que não faz sentido, pois a vantagem de catboost é tratar tais variáveis. Sugiro que ajuste o código.
</div>

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

## Análise do modelo

In [57]:
keys = ['linear', 'random_forest', 'decision_tree', 'lgbm','lgbm_boosted','catboost']
time_models = [end_linear, end_randomforest, end_decision_tree, end_lgb, end_lgb_boosted, end_catboost]
modelos_r2 = [linear_r2, random_forest_r2, decision_tree_r2, lgbm_r2,end_lgb_boosted_r2, catboost_r2]

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [58]:
modelos_r2

[2775.5532345003185,
 1663.686831904653,
 1942.6833684403025,
 1883.9714314020564,
 1724.278957114037,
 1978.0275478562917]

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [59]:
for name, value in zip(keys, time_models):
    print(name, value)

linear 16.017832040786743
random_forest 365.67493653297424
decision_tree 6.025570392608643
lgbm 5.2310450077056885
lgbm_boosted 271.4852337837219
catboost 11.129765510559082

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [60]:
for name, value, time in zip(keys, modelos_r2, time_models):
    print(f"Modelo {name}, REQM: {value}, tempo de execução: {time}")

Modelo linear, REQM: 2775.5532345003185, tempo de execução: 16.017832040786743
Modelo random_forest, REQM: 1663.686831904653, tempo de execução: 365.67493653297424
Modelo decision_tree, REQM: 1942.6833684403025, tempo de execução: 6.025570392608643
Modelo lgbm, REQM: 1883.9714314020564, tempo de execução: 5.2310450077056885
Modelo lgbm_boosted, REQM: 1724.278957114037, tempo de execução: 271.4852337837219
Modelo catboost, REQM: 1978.0275478562917, tempo de execução: 11.129765510559082

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [61]:
data = {'Model': keys, 'REQM': modelos_r2, 'Execution Time': time_models}
output = pd.DataFrame(data)

print(output)

           Model         REQM  Execution Time
0         linear  2775.553235       16.017832
1  random_forest  1663.686832      365.674937
2  decision_tree  1942.683368        6.025570
3           lgbm  1883.971431        5.231045
4   lgbm_boosted  1724.278957      271.485234
5       catboost  1978.027548       11.129766

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [62]:
# Models sorted by REQM
output.sort_values(by="REQM")

           Model         REQM  Execution Time
1  random_forest  1663.686832      365.674937
4   lgbm_boosted  1724.278957      271.485234
3           lgbm  1883.971431        5.231045
2  decision_tree  1942.683368        6.025570
5       catboost  1978.027548       11.129766
0         linear  2775.553235       16.017832

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

In [63]:
# Models sorted my Execution Time
output.sort_values(by="Execution Time")

           Model         REQM  Execution Time
3           lgbm  1883.971431        5.231045
2  decision_tree  1942.683368        6.025570
5       catboost  1978.027548       11.129766
0         linear  2775.553235       16.017832
4   lgbm_boosted  1724.278957      271.485234
1  random_forest  1663.686832      365.674937

<div class="alert alert-block alert-success">
<b> Comentário do revisor: </b> <a class="tocSkip"></a>

Correto
</div>

# Checklist

Digite 'x' para verificar. Em seguida, pressione Shift + Enter.

- [X]  O Jupyter Notebook está aberto
- [X]  O código está livre de erros
- [X]  As células com o código foram organizadas em ordem de execução
- [X]  Os dados foram baixados e preparados
- [X]  Os modelos foram treinados
- [X]  A análise de velocidade e qualidade dos modelos foi realizada


<s><div class="alert alert-block alert-success">
<b>Comentário Geral do Revisor</b> <a class="tocSkip"></a>

Obrigado por enviar seu projeto. 
    
Parabéns, você fez um bom trabalho. No geral, você respondeu corretamente as questões.
    
<span class="text-danger">Porém, há espaço para melhorias conforme os itens apontados anteriormente. Destaco os  pontos a seguir: </span>
 * <span class="text-danger"> Ajustar hiperparâmetros conforme a especificação do trabalho (" um algoritmo baseado em árvore com ajuste de hiperparâmetro (de preferência, floresta aleatória), LightGBM com ajuste de hiperparâmetro (tente alguns conjuntos)") </span>
 * <span class="text-danger"> Usar Catboost sobre dataframe com dados categóricos (ver este link: https://towardsdatascience.com/how-do-you-use-categorical-features-directly-with-catboost-947b211c2923) </span>

Portanto, sugiro que você corrija os pontos indicados. Caso você tenha alguma dúvida, não hesite em me contactar.
    
Bom trabalho.
</div>


<div class="alert alert-block alert-success">
<b>Comentário Geral do Revisor</b> <a class="tocSkip"></a>


    
Parabéns, você finalizou mais um projeto. Não tenho sugestões de melhoria além daquelas anteriores.
Sucesso para vocẽ
</div>